LINKEDIN_CLIENT_ID=cole-o-client-id-aqui
LINKEDIN_CLIENT_SECRET=cole-o-client-secret-aqui
LINKEDIN_REDIRECT_URI=http://localhost:3000/auth/linkedin/callback
LINKEDIN_COMPANY_PAGE_URL=https://www.linkedin.com/company/rafaella-guimar%C3%A3es-data-technology
LINKEDIN_SCOPES=openid profile email
PORT=3000
